<div id="calculadora">
    <div id="calculos" class="row justify-content-center">
        <p> {{ calculo }} </p>
    </div>
    <div class="row justify-content-center">
        <button type="button" (click) = "addNum(1)" class="btn btn-light col-2">1</button>
        <button type="button" (click) = "addNum(2)" class="btn btn-light col-2">2</button>
        <button type="button" (click) = "addNum(3)" class="btn btn-light col-2">3</button>
    </div>
    
    <div class="row justify-content-center">
        <button type="button" (click) = "addNum(4)" class="btn btn-light col-2">4</button>
        <button type="button" (click) = "addNum(5)" class="btn btn-light col-2">5</button>
        <button type="button" (click) = "addNum(6)" class="btn btn-light col-2">6</button>
    </div>
    
    <div class="row justify-content-center">
        <button type="button" (click) = "addNum(7)" class="btn btn-light col-2">7</button>
        <button type="button" (click) = "addNum(8)" class="btn btn-light col-2">8</button>
        <button type="button" (click) = "addNum(9)" class="btn btn-light col-2">9</button>
    </div>
    
    <div class="row justify-content-center">
        <button type="button" (click) = "addNum(0)" class="btn btn-light col-2">0</button>        
        <button type="button" class="btn btn-light col-2">+</button>
        <button type="button" class="btn btn-light col-2">-</button>
    </div>

    <div class="row justify-content-center">
        <button type="button" class="btn btn-light col-6">=</button>
    </div>
</div>